.account-container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .account-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .account-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .account-container button {
    margin-top: 20px;
  }
  
  .account-container .logout-button {
    margin-top: 10px;
    background-color: red;
  }
  
  .bold-label {
    font-weight: bold;
  }
  